@define-color bg0 #282c34;
@define-color bg1 #21252b;
@define-color bg2 #2c313a;
@define-color bg3 #3e4451;
@define-color bg4 #4b5263;

@define-color red        #e08c75;
@define-color orange     #d19a66;
@define-color yellow     #e5c07b;
@define-color green      #98c379;
@define-color aqua       #56b6c2;
@define-color blue       #61afef;
@define-color darkblue   #3a515d;
@define-color everblue   #7fbbb3;
@define-color purple     #c678dd;

@define-color fg         #abb2bf;

@define-color grey0      #5c6370;
@define-color grey1      #828887;
@define-color grey2      #abb2bf;
@define-color grey3      #2d353b;
@define-color grey4      #475258;
@define-color grey5      #3d484d;
